<div class="row">
	<div class="col-sm-4">
		<h4 class="text-left">List of heroes </h4>
		<p class="text-justify">This is how a list of items it taken from a file (in this case mock-heroes.ts), and then used to populate a list. The selected item is bound to a number of html elements, each of which displays a property of the selected hero.</p>
		<div>
			<ul class="heroes">

				<li *ngFor = "let ahero of heroes" [class.selected]="ahero===selectedHero" (click)="onSelect(ahero)">

					<!-- <span class="badge badge-light">{{ahero.id}}</span> {{ahero.name}} -->

					  <button type="button" class="btn btn-secondary">{{ahero.id}}</button>{{ahero.name}}

				</li>

			</ul>
		</div>

		<app-hero-detail [hero] ="selectedHero"></app-hero-detail>
	</div>
</div>



